body
{
    background-color: purple;
}
h1{
    text-align: center;
    font-family: cursive;
    /* margin-top: 23px; */
    padding: 24px;
}
.box_ques
{
    background-color: lightblue;
}
#card_horz{
    justify-content: center;
    text-align: center;
}
h3{
    color: black;
}
#extra{
    padding: 23px;
}
/* #dbms_heading{
} */