*
{
    margin: 0;
    padding: 0;
}
.heading{
    margin:2rem 5rem 2rem 5rem;
    background-color:lightpink ;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.heading span{
    font-family: cursive;
    font-size: 3rem;
    text-shadow: lightskyblue;
    text-align: center;

}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.block1{
    margin:2rem;
    max-width:400px; 
    max-height:40rem;
}
.div_heading1{
    min-height: 5rem;
    background-color: rgb(255, 140, 98);
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}
.div_content{
    /* border: 2px solid rgb(255, 140, 98); */
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height:30rem; */
}
img{
    /* border:2px solid rgb(255, 140, 98);  */
    margin:2rem 2rem 2rem 3rem;
    max-height:20rem;
    max-width: 20rem;
}
.div_content span{
    font-family: cursive;
    font-weight: 300;
    font-size: 5rem;
}
.content{
    font-family:cursive;
    display: flex;
    justify-content: center;
    background-color: cornsilk;
    margin:2rem;
}
/* ##################################### */
.block2
{
    margin:2rem;
    max-width:400px; 
    height:30rem;
    
}
.div_heading2{
    min-height: 5rem;
    background-color: cornflowerblue;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}
/* ##################################### */
.block3
{
    margin:2rem;
    max-width:400px; 
    height:30rem;
    
}
.div_heading3{
    min-height: 5rem;
    background-color: rgb(221, 100, 237);
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}
/* ##################################### */
.block4
{
    margin:2rem;
    max-width:400px; 
    height:30rem;
    
}
.div_heading4{
    min-height: 5rem;
    background-color: rgb(251, 253, 103);
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}
/* ##################################### */
.block5
{
    margin:2rem;
    max-width:400px; 
    height:30rem;
    
}
.div_heading5{
    min-height: 5rem;
    background-color: rgb(82, 79, 243);
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}
/* ##################################### */